.cotizacion-background {
    background-image: url('/public/cotizacion.png');
    background-size: 100%;
    /* Aumenta el tamaño para simular zoom */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}