.ubicacion-background {
    background-image: url('/public/ubicacion.png'); 
    background-size: cover; /* Aumenta el tamaño para simular zoom */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mapa-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
@media (max-width: 768px) {
    .form-columns {
        flex-direction: column;
    }
}