.home-background {
    background-image: url('/src/assets/portada.jpg'); 
    background-size: 120%; /* Aumenta el tamaño para simular zoom */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
