.sobrenosotros-background {
    background-image: url('/public/sobrenosotros.png'); 
    background-size: cover; /* Aumenta el tamaño para simular zoom */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .form-columns {
        flex-direction: column;
    }
}