.vehiculos-background {
    background-image: url('/public/vehiculos.png'); 
    background-size: 120%; /* Aumenta el tamaño para simular zoom */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vehiculos-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}